@import "tailwindcss";

/* Thème Tailwind v4 */
@theme {
  --font-display: "Shrikhand", system-ui, sans-serif;
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;

  --color-ink: #343232;
  --color-bg:  #F1E9E2;
  --color-green: #7ED957;   /* primaire */
  --color-eco:   #BBECA5;   /* doux naturel */
  --color-warm:  #FFAA75;   /* secondaire chaude */
}

